---
import { getCollection } from "astro:content";
import Layout from "@layouts/Default.astro";
import BlogList from "@components/blog/BlogList.astro";

const posts = await getCollection("blog").then((collection) =>
  collection.sort((d1: any, d2: any) => d2.data.pubDate - d1.data.pubDate)
);
---

<Layout
  title="Blog"
  description="Brutal Blog | On this page you can find a collection of blogposts"
  pageTitle="Brutal Blog"
  classList="h-screen"
>
  <main class="bg-green p-6 overflow-y-auto">
    <BlogList posts={posts} />
  </main>
</Layout>
